<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to <%= title %><br><br>TIN Project - s17249 - Burak Bakir</p>
  </body>
</html>
